<h1>Doxee</h1>
<p>Hey <%= locals.name %>,</p>
<p>
    This is your invitation code, do not share it:
</p>
<p>
    <strong><%= locals.proposalId %></strong>
</p>
<p>
    If you're having trouble with code, please contact admin: alessandro.foglia@studio.unibo.it
</p>